Frontend(Client) - 
VITE_API_URL=http://localhost:5000/api

Backend(Server) -

PORT=5000

DATABASE_URL=Your PostgreSQL database URL here

JWT_SECRET=your JWT secret key here

GEMINI_API_KEY=your Gemini API key here